header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh; /* Full viewport height */
    background: black; /* Example background gradient */
    color: white; /* White text color for contrast */
}

header img {
    margin-bottom: 20px; /* Space between the image and the heading */
    border-radius: 50%; /* Makes the image circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow around the image */
}

header h1 {
    font-size: 2.5rem; /* Larger font size for the heading */
    font-weight: bold;
    margin: 0;
}
