.center {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }
  

  

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  