form{
    padding: 1rem;
    max-width:30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(180deg, #307e63, #76c0ae);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-group{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

label{
    display:block;
    margin-bottom: 0.2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border:1px solid #76c0ae;
    background-color: #83e6c0;
    color:#1a1f1d;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor:pointer;
}

button:hover{
    background-color: #aaf1d6;
}
